{% import '_includes/forms' as forms %}

{{ forms.textField({
    label: 'Name'|t('smoke-signal'),
    id: 'name',
    name: 'name',
    value: signal.name,
    errors: signal.getErrors('name'),
    first: true,
    autofocus: true,
    required: true,
    instructions: 'Name of this form in the CP.'|t('smoke-signal')
}) }}
{% if not currentUser.admin %}
    <div class="hidden">
{% endif %}
    {{ forms.textField({
        label: 'Handle'|t('smoke-signal'),
        id: 'handle',
        name: 'handle',
        value: signal.handle,
        errors: signal.getErrors('handle'),
        required: true,
        instructions: 'Name of this form in the templates.'|t('smoke-signal')
    }) }}
{% if not currentUser.admin %}
    </div>
{% endif %}
{{ forms.textareaField({
    label: 'Message'|t('smoke-signal'),
    id: 'description',
    name: 'description',
    value: signal.description,
    required: true,
    errors: signal.getErrors('description'),
    instructions: 'What the message of the signal should say.'|t('smoke-signal'),
    placeholder: 'This is a textareaField'|t('smoke-signal')
}) }}
{% include 'smoke-signal/signals/_fields/link' %}
{{ forms.colorField({
    label: 'Color'|t('smoke-signal'),
    id: 'color',
    name: 'color',
    value: signal.color ?? '#ecbd7d',
    errors: signal.getErrors('color'),
    instructions: 'Background color of the signal'|t('smoke-signal'),
}) }}
<input type="hidden" name="icon" value="fa-warning">
{{ forms.radioGroupField({
    label: 'Position'|t('smoke-signal'),
    id: 'position',
    name: 'position',
    value: signal.position,
    options: {
        "center-top": "<div class='position'><div class='full top'><span></span></div></div>",
        "center-center": "<div class='position'><div class='full center'><span></span></div></div>"
    },
    errors: signal.getErrors('position'),
    instructions: 'How the signal will show on the page'|t('smoke-signal'),
}) }}
{% js %}
{% if not signal.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endjs %}
